@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin-ext');

body {
    background-color: #e7bd89;
}
h1{ margin: .5em;
    font-size: 112px;
    font-family: 'Berkshire Swash', cursive;
}
header{
    margin: -5% auto;
    color: rgba(185, 39, 6, 0.781);
    text-align: center;
}
main{
    background-color: #e7bd89;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p {text-align: center;}

section { 
 /* width: 50%;
    height: 50
    position: absolute;
    bottom: 200px;
    background: #6b3b3b;
    border-radius: 50%;
    z-index: 2; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col-1 {
    width: 300px;
    height: 300px;
    background: green;
    border-radius: 100% 0 0 0;
    text-align: center;
    line-height: 300px;
}
.col-2 {
    width: 300px;
    height: 300px;
    background: red;
    border-radius: 0 100% 0 0;
    text-align: center;
    line-height: 300px;
}
.col-3 {
    width: 300px;
    height: 300px;
    background: blue;
    border-radius: 0 0 100% 0;
    text-align: center;
    line-height: 300px;
}
.col-4 {
    width: 300px;
    height: 300px;
    background: yellow;
    border-radius: 0 0 0 100%;
    text-align: center;
    line-height: 300px;
}