@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin-ext');
body { margin: 0;
    background-color: rgb(231, 189, 137);
}
h1{
    font-size: 112px;
    font-family: 'Berkshire Swash', cursive;
}
header{
    margin: -5% auto;
    color: rgba(185, 39, 6, 0.781);
    text-align: center;
}
main{
    background-color: #444444;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
section {
  width: 100px;
  background: #990012;
  color: #FFFFFF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  line-height: 100px;
}